name: CI Pipeline

on: [push, pull_request]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - uses: actions/setup-go@v4
      with:
        go-version: "1.21"
    
    - name: Build
      run: go build ./...

    - name: Start server
      run: go run main.go &

    - name: Wait for server
      run: sleep 2

    - name: Test
      run: go test ./...




